

.hero{
    background-image: url('../images/montañas2.png') ; 
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero__content{
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .content__logo{
    width: 150px; 
    border-radius: 50%; 
  }
  
.content__slogan{
  font-family: "Fredoka", sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 900; 
  font-stretch: expanded; 
    color: #15833c;
    line-height: 1.31;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    margin-top: 15px;

      //-webkit-text-stroke: 1px #1d9347
      
}

.content__button{

  background-color: rgb(217, 203, 50);
  padding: 6px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}

.content__button:hover{
  background-color:#1f9b4b;
}

.button__a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight:600;
  font-family: "Fredoka", sans-serif;
  letter-spacing: 1.5px;
}




@media (min-width:768px){

  .hero__content{
    margin-top: 12rem;
    
}

  .content__logo{
    width: 200px; 
  
  }
  
.content__slogan{
   
    font-size: 2rem;}
   

.content__button{

  padding: 6px 18px;
}
}

@media (min-width:1200px){

  .content__logo{
    width: 250px; 
   
  }
  
.content__slogan{
    
    font-size: 2.5rem;
   
}

.content__button{


  padding: 7px 20px;
  
}

}
